[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
transfer_method = scp

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPath=/tmp/.ansible-cp-%h-%p-%r -o ControlPersist=60s -o ConnectTimeout=8 -o ServerAliveInterval=30 -o ServerAliveCountMax=3
pipelining = true
retries = 3

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
